{% extends "index.html" %}

{% block titulo %}
<h1 class="mx-auto my-0 text-uppercase"> Obra social </h1>
{%  endblock titulo %}

{% block contenido %}

    <table class="table">
        <thread>
            <tr>
                <th>Id</th>
                <th>nombre</th>
                <th>plan</th>
                
            </tr>
        </thread>
        <tbody>
        {% for c in obra %}    
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nombre }}</td>
                <td>{{ c.plan }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
                    
{%  endblock contenido %}